{% extends '../home/parent.html' %}
{% block title %}订单详情{% endblock %}
{% block style %}
<link rel="stylesheet" href="/static/css/crumb.css">
<link rel="stylesheet" href="/static/css/usercenter/usercenter.css">
<link rel="stylesheet" href="/static/css/usercenter/usercenterleft.css">
<link rel="stylesheet" href="/static/css/usercenter/orderdetail.css">
{% endblock %}

{% block content %}
{% include '../goods/crumb.html' %}
<div class="user-center">
  <div class="m-div">
      {% include './usercenterleft.html' %}
      <div class="right-con">
        <div class="panel">
            <div class="panel-title"> 订单信息 </div>
            <div class="panel-body">
                <div class="order-info">
                    <div class="text-line">
                        <span class="text">订单号：{{ Order.OrderId}}</span>
                        <span class="text">创建时间：{{ Order.OrderTime }}</span>
                    </div>
                    <div class="text-line">
                        <span class="text">收件人：{{ Order.AddressData.ReceiveName }} &nbsp; {{ Order.AddressData.ReceiveProvince }} {{ Order.AddressData.ReceiveCity }} {{ Order.AddressData.ReceiveAdd }} </span>
                    </div>
                    <div class="text-line">
                        <span class="text">订单状态：{{ Order.Ispay }}</span>
                    </div>
                    <div class="text-line">
                        <span class="text">支付方式：{{ Order.PayMethod }}</span>
                    </div>
                    <div class="text-line">
                        {% if Order.Ispay == '未付款' %}
                        <a class="btn btn-mini" href="/pay/index/index/orderid/{{ Order.OrderId }}">去支付</a>
                        {% endif %}
                        <a class="btn btn-mini order-cancel" href="/order/cancel/index/orderid/{{ Order.OrderId }}">取消订单</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-title"> 商品清单 </div>
            <div class="panel-body">
                <table class="order-list-table header">
                    <tbody>
                        <tr>
                            <th class="order-list-cell cell-img">&nbsp;</th>
                            <th class="order-list-cell cell-info">商品信息</th>
                            <th class="order-list-cell cell-price">单价</th>
                            <th class="order-list-cell cell-count">数量</th>
                            <th class="order-list-cell cell-total">合计</th>
                        </tr>
                    </tbody>
                </table>
                <table class="order-list-table order-item">
                    <tbody>
                        {% for item in Order.ProductData %}
                        <tr>
                            <td class="order-list-cell cell-img">
                                <a href="/goods/detail/index/productid/{{ item.productid }}" target="_blank"><img class="p-img" src="{{item.ProductPic}}" alt="{{item.ProductName}}"></a>
                            </td>
                            <td class="order-list-cell cell-info">
                                <a class="link p-name" href="/goods/detail/index/productid/{{ item.productid }}" target="_blank">{{item.ProductName}}</a>
                            </td>
                            <td class="order-list-cell cell-price">￥{{ item.ProductPrice }}</td>
                            <td class="order-list-cell cell-count">{{ item.count }}</td>
                            <td class="order-list-cell cell-total">￥{{ item.count * item.ProductPrice }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <p class="total pull-right">
                    <span>订单总价：</span>
                    <span class="enhance">￥{{ Order.OrderTotalPrice }}</span>
                </p>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        $('.left-con>.menu>li:nth-child(2)').addClass('active');
    });
</script>
{% endblock %}