{% extends '../home/parent.html' %}
{% block title %}订单列表{% endblock %}
{% block style %}
<link rel="stylesheet" href="/static/css/crumb.css">
<link rel="stylesheet" href="/static/css/usercenter/usercenter.css">
<link rel="stylesheet" href="/static/css/usercenter/usercenterleft.css">
<link rel="stylesheet" href="/static/css/usercenter/orderlistwrap.css">
{% endblock %}

{% block content %}
{% include '../goods/crumb.html' %}
<div class="user-center">
  <div class="m-div">
      {% include './usercenterleft.html' %}
      <div class="right-con">
        <div class="panel">
            <div class="panel-title">
                我的订单
            </div>
            <div class="panel-body">
                <div class="order-list">
                    <div class="order-list">
                        <table class="order-list-table header">
                            <tbody>
                                <tr>
                                    <th class="order-list-cell cell-img">&nbsp;</th>
                                    <th class="order-list-cell cell-info">商品信息</th>
                                    <th class="order-list-cell cell-price">单价</th>
                                    <th class="order-list-cell cell-count">数量</th>
                                    <th class="order-list-cell cell-total">合计</th>
                                </tr>
                            </tbody>
                        </table>
                        {% for item in OrderItems %}
                        <table class="order-list-table order-item">
                            <tbody>
                                <tr>
                                    <td class="order-info" colspan="6">
                                        <span class="order-text">
                                            <span>订单号：</span>
                                            <a class="link" href="/user/order/detail/orderid/{{ item.OrderId }}">{{ item.OrderId }}</a>
                                        </span>
                                        <span class="order-text">{{ item.OrderTime }}</span>
                                        <span class="order-text">
                                            <span>收件人：{{ item.AddressData.ReceiveName }}</span>
                                        </span>
                                        <span class="order-text">
                                            <span>订单状态：{{ item.Ispay }}</span>
                                        </span>
                                        <span class="order-text">
                                            <span>订单总价：</span>
                                            <span class="enhance">￥{{ item.OrderTotalPrice }}</span>
                                        </span>
                                        <a class="link pull-right" href="/user/order/detail/orderid/{{ item.OrderId }}">查看详情&gt;</a>
                                    </td>
                                </tr>
                                {% for product in item.ProductData %}
                                <tr>
                                    <td class="order-list-cell cell-img">
                                        <a href="/goods/detail/index/productid/{{ product.ProductId }}" target="_blank"><img class="p-img" src="{{ product.ProductPic }}" alt="{{ product.ProductName }}"></a>
                                    </td>
                                    <td class="order-list-cell cell-info">
                                        <a class="link p-name" href="/goods/detail/index/productid/{{ product.ProductId }}" target="_blank">{{ product.ProductName }}</a>
                                    </td>
                                    <td class="order-list-cell cell-price">￥{{ product.ProductPrice }}</td>
                                    <td class="order-list-cell cell-count">{{ product.count }}</td>
                                    <td class="order-list-cell cell-total">￥{{ product.count * product.ProductPrice }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endfor %}
                    </div>
                </div>
                <div class="pagination"></div>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        $('.left-con>.menu>li:nth-child(2)').addClass('active');
    });
</script>
{% endblock %}