{% extends '../home/parent.html' %}
{% block title %}订单详情{% endblock %}
{% block style %}
<link rel="stylesheet" href="/static/css/crumb.css">
<link rel="stylesheet" href="/static/css/usercenter/usercenter.css">
<link rel="stylesheet" href="/static/css/usercenter/usercenterleft.css">
<link rel="stylesheet" href="/static/css/usercenter/orderdetail.css">
{% endblock %}

{% block content %}
{% include '../goods/crumb.html' %}
<div class="user-center">
  <div class="m-div">
      {% include './usercenterleft.html' %}
      <div class="right-con">
        <div class="panel">
            <div class="panel-title"> 订单信息 </div>
            <div class="panel-body">
                <div class="order-info">
                    <div class="text-line">
                        <span class="text">订单号：1513049923844</span>
                        <span class="text">创建时间：2017-12-12 11:38:43</span>
                    </div>
                    <div class="text-line">
                        <span class="text">收件人：hhh 北京 北京 hhh </span>
                    </div>
                    <div class="text-line">
                        <span class="text">订单状态：未支付</span>
                    </div>
                    <div class="text-line">
                        <span class="text">支付方式：在线支付</span>
                    </div>
                    <div class="text-line">
                        <a class="btn btn-mini" href="./payment.html?orderNumber=1513049923844">去支付</a>
                        <a class="btn btn-mini order-cancel">取消订单</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-title"> 商品清单 </div>
            <div class="panel-body">
                <table class="order-list-table header">
                    <tbody>
                        <tr>
                            <th class="order-list-cell cell-img">&nbsp;</th>
                            <th class="order-list-cell cell-info">商品信息</th>
                            <th class="order-list-cell cell-price">单价</th>
                            <th class="order-list-cell cell-count">数量</th>
                            <th class="order-list-cell cell-total">合计</th>
                        </tr>
                    </tbody>
                </table>
                <table class="order-list-table order-item">
                    <tbody>
                        <tr>
                            <td class="order-list-cell cell-img">
                                <a href="./detail.html?productId=29" target="_blank"><img class="p-img" src="http://img.happymmall.com/173335a4-5dce-4afd-9f18-a10623724c4e.jpeg" alt="【测试学习使用】Haier/海尔HJ100-1HU1 10公斤滚筒洗衣机全自动带烘干大容量 洗烘一体 厨卫家电"></a>
                            </td>
                            <td class="order-list-cell cell-info">
                                <a class="link p-name" href="./detail.html?productId=29" target="_blank">【测试学习使用】Haier/海尔HJ100-1HU1 10公斤滚筒洗衣机全自动带烘干大容量 洗烘一体 厨卫家电</a>
                            </td>
                            <td class="order-list-cell cell-price">￥4299</td>
                            <td class="order-list-cell cell-count">1</td>
                            <td class="order-list-cell cell-total">￥4299</td>
                        </tr>
                    </tbody>
                </table>
                <p class="total pull-right">
                    <span>订单总价：</span>
                    <span class="enhance">￥4299</span>
                </p>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}