{% extends '../home/parent.html' %}
{% block title %}修改密码{% endblock %}
{% block style %}
<link rel="stylesheet" href="/static/css/crumb.css">
<link rel="stylesheet" href="/static/css/usercenter/usercenter.css">
<link rel="stylesheet" href="/static/css/usercenter/usercenterleft.css">
<link rel="stylesheet" href="/static/css/usercenter/passupdatewrap.css">
{% endblock %}

{% block content %}
{% include '../goods/crumb.html' %}
<div class="user-center">
  <div class="m-div">
      {% include './usercenterleft.html' %}
      <div class="right-con">
        <div class="panel">
            <div class="panel-title">
                修改密码
            </div>
            <div class="panel-body">
                <div class="pass-info">
                    <div class="text-line">
                        <span class="text">原始密码：</span>
                        <input type="password" class="password" id="password" autocomplete="off">
                    </div>
                    <div class="text-line">
                        <span class="text">新 密 码 ： </span>
                        <input type="password" class="password" id="password-new" autocomplete="off">
                    </div>
                    <div class="text-line">
                        <span class="text">确认密码：</span>
                        <input type="password" class="password" id="password-confirm" autocomplete="off">
                    </div>
                    <div class="text-line">
                        <span class="btn btn-mini btn-submit">提交修改</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}