{% extends '../home/parent.html' %} {% block title %}用户注册{% endblock%} {% block style %}
<link rel="stylesheet" href="/static/css/login.css"> {% endblock %} {% block header %}
<div class="header-simple">
    <div class="w">
        <a href="/home" class="logo">HUSTMall</a>
    </div>
</div>
{% endblock %} {% block content %}
<div class="user-wrap">
    <div class="user-con w">
        <div class="user-title">用户注册</div>
        <div class="user-box">
            <form action="" method="post" id="form_login">
                <div class="err-item">
                    <i class="glyphicon-remove"></i>
                    <small class="err-msg">Error</small>
                </div>
                <div class="user-item">
                    <label class="user-label" for="username">
                        <span class="glyphicon glyphicon-user"></span>
                    </label>
                    <input name="username" type="text" class="user-content" id="username" placeholder="请输入用户名" autocomplete="off" />
                </div>
                <div class="user-item">
                    <label class="user-label" for="password">
                        <span class="glyphicon glyphicon-lock"></span>
                    </label>
                    <input name="password" type="password" class="user-content" id="password" placeholder="请输入密码" />
                </div>
                <div class="user-item">
                    <label class="user-label" for="repassword">
                        <span class="glyphicon glyphicon-lock"></span>
                    </label>
                    <input name="repassword" type="password" class="user-content" id="repassword" placeholder="请再次输入密码" />
                </div>
                <div class="user-item">
                    <label class="user-label" for="phone">
                        <span class="glyphicon glyphicon-earphone"></span>
                    </label>
                    <input name="phone" type="phone" class="user-content" id="phone" placeholder="请输入电话" />
                </div>
                <div class="user-item">
                    <label class="user-label" for="email">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </label>
                    <input name="email" type="mail" class="user-content" id="email" placeholder="请输入邮箱" />
                </div>
                <div class="user-item">
                    <label class="user-label" for="question"><i class="glyphicon glyphicon-question-sign"></i></label>
                    <input type="text" class="user-content" id="question" placeholder="输入密码提示问题" autocomplete="off" />
                </div>
                <div class="user-item">
                    <label class="user-label" for="answer"><i class="glyphicon glyphicon-pencil"></i></label>
                    <input type="text" class="user-content" id="answer" placeholder="输入密码提示答案" autocomplete="off" />
                </div>
                <a class="user-btn" id="submit">立即注册</a>
            </form>
            <div class="link-item">
                <a class="link" href="/user/login" style="cursor:pointer">已有帐号，去登录>></a>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block script %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#submit").click(function() { 
            var  username  =  $("#username").val();
            var  password1  = $("#password").val();
            var  password2  = $("#repassword").val();
            var  phone  = $("#phone").val();
            var  email  = $("#email").val();
            var  question  = $("#question").val();
            var  answer  = $("#answer").val();

            if (username  ==  "") { 
                $(".err-item").attr("style", "display:block");   
                $(".err-msg").text("姓名不能为空！");    
            } else {
                if (0) {
                    //若名字不为空则与已有名字对比，若重复则提醒

                } else {
                    //名字正确则继续判断
                    if (password1  ==  "") { 
                        $(".err-item").attr("style", "display:block");   
                        $(".err-msg").text("密码不能为空！");    
                    } else {
                        //若密码不为空则比较两次输入是否相同
                        if (password1  !=  password2) { 
                            $(".err-item").attr("style", "display:block");   
                            $(".err-msg").text("两次密码输入不一致！");    
                        } else {
                            //若两次输入相同则继续判断
                            if (phone  ==  "") { //检查手机号是否填写，格式是否正确 
                                $(".err-item").attr("style", "display:block");       
                                $(".err-msg").text("手机号不能为空！");   
                            } else {
                                var regBox = {
                                    regEmail: /^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/, //邮箱 
                                    regName: /^[a-z0-9_-]{3,16}$/, //用户名

                                    regMobile: /^0?1[3|4|5|8][0-9]\d{8}$/, //手机 
                                    regTel: /^0[\d]{2,3}-[\d]{7,8}$/
                                }
                                var mflag = regBox.regMobile.test(phone);
                                if (!mflag) {
                                    $(".err-item").attr("style", "display:block"); 
                                    $(".err-msg").text("手机号格式有误！");
                                } else {
                                    //手机号格式正确则继续判断
                                    if (email  ==  "") {
                                        //检查邮箱是否填写，格式是否正确
                                        $(".err-item").attr("style", "display:block");       
                                        $(".err-msg").text("邮箱不能为空！");   
                                    } else {
                                        var regBox = {
                                            regEmail: /^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/, //邮箱 
                                            regName: /^[a-z0-9_-]{3,16}$/, //用户名 
                                            regMobile: /^0?1[3|4|5|8][0-9]\d{8}$/,
                                            //手机 
                                            regTel: /^0[\d]{2,3}-[\d]{7,8}$/
                                        }
                                        var mflag = regBox.regEmail.test(email);
                                        if (!mflag) {
                                            $(".err-item").attr("style", "display:block"); 
                                            $(".err-msg").text("邮箱格式有误！");
                                        } else {
                                            //邮箱正确则继续判断
                                            if (question  ==  "") {
                                                //检查问题是否填写，是否两次不一致。。。。。。这里是否可以改为选择
                                                $(".err-item").attr("style", "display:block");       
                                                $(".err-msg").text("问题不能为空！");   
                                            } else {
                                                if (answer  ==  "") {
                                                    //检查答案是否填写
                                                    $(".err-item").attr("style", "display:block");       
                                                    $(".err-msg").text("答案不能为空！");   
                                                } else {
                                                    var loginForm = document.getElementById('form_login');
                                                    //这里返回的值由前端处理较好，但是现在还是由后端处理的
                                                    loginForm.submit();
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }



        });
    });
</script>
{% endblock %}