.site-cart {
    width: 100%;
    margin-top: 20px !important;
    text-align: left;
  }
  
  .m-div {
    width: 1080px;
    margin: 0 auto;
  }
  
  .cart-wrap .cart-header {
    background: #eee;
  }
  
  .cart-wrap .cart-footer {
    position: relative;
    line-height: 50px;
    background: #eee;
  }
  
  .cart-wrap .cart-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin-bottom: 10px;
  }
  
  .cart-wrap .cart-table .cell-check {
    width: 30px;
    padding-left: 20px;
    text-align: left;
    box-sizing: content-box;
  }
  
  .cart-wrap .cart-header .cell-check {
    width: 130px;
    box-sizing: content-box;
  }
  
  .cart-wrap .cart-header .cart-cell {
    height: 40px;
    line-height: 40px;
  }
  
  .cart-wrap .cart-table .cell-info {
    width: 400px;
    padding: 0 10px;
  }
  
  .cart-wrap .cart-table .cell-info .p-name {
    line-height: 18px;
  }
  
  .cart-wrap .cart-table .cell-info .link:hover {
    color: #e80012;
    text-decoration: none;
  }
  
  .cart-wrap .cart-table .cell-info .link:focus {
    color: #999;
    text-decoration: none;
  }
  
  .cart-wrap .cart-header .cart-cell {
    height: 40px;
    line-height: 40px;
  }
  
  .cart-wrap .cart-list .cart-table .cell-img .p-img {
    width: 80px;
    height: 80px;
    border: 1px solid #ddd;
  }
  
  .cart-wrap .cart-table .cell-price {
    width: 100px;
    text-align: center;
  }
  
  .cart-wrap .cart-table .cell-count {
    width: 200px;
    text-align: center;
  }
  
  .cart-wrap .cart-table .cell-count .count-btn {
    display: inline-block;
    width: 20px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #ddd;
    vertical-align: middle;
    cursor: pointer;
    background: #fff;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .cart-wrap .cart-table .cell-count .count-input {
    width: 60px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
    outline: none;
  }
  
  .cart-wrap .cart-table .cell-total {
    width: 100px;
    text-align: center;
  }
  
  .cart-wrap .cart-table .cell-opera {
    width: 110px;
    text-align: center;
  }
  
  .cart-wrap .cart-footer .select-con {
    float: left;
    padding-left: 20px;
  }
  
  .cart-wrap .cart-footer .delete-con {
    float: left;
    margin-left: 20px;
  }
  
  .cart-wrap .cart-footer .submit-con {
    float: right;
  }
  
  .cart-wrap .cart-footer .submit-con .submit-total {
    font-size: 18px;
    color: #c60023;
    font-weight: 700;
    margin-right: 30px;
    vertical-align: middle;
  }
  
  .cart-wrap .cart-footer .submit-con .submit-btn {
    height: 50px;
    line-height: 50px;
  }
  
  .btn {
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border: none;
    background-color: #c60023;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    outline: none;
    cursor: pointer;
    text-decoration: none;
  }