.header-simple {
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid#ddd;
    background: #fff;
}

.w {
    width: 1080px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.panel-body .err-item {
    position: relative;
    padding: 4px 0 4px 4px;
    margin-bottom: 10px;
    border: 1px solid blue;
    background: #e4e3f8;
    color: blue;
    display: none;
}

.panel-body .err-item .err-icon {
    position: absolute;
    font-size: 14px;
    left: 14px;
    top: 50%;
    margin-top: -7px;
}

.glyphicon-remove {
    margin: 0px 10px 0px 10px;
}

.login-panel {
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
}

@media (min-width: 992px) {
    .col-md-offset-4 {
        margin-left: 25%;
    }
}

@media (min-width: 992px) {
    .col-md-4 {
        width: 50%;
    }
}

.form-control,
output {
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
}