<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="/static/img/mall.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/navtop.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css"> {% block style %}{% endblock %}
</head>

<body>
    {% block header %}
    <div class="site-nav">
        <div class="nav">
            <nav class="m-div navbar container" role="navigation">
                <div class="row">
                    <div class="col-xs-4 col-sm-4">
                        <ul class="nav navbar-nav">
                            {% if isLogin %}
                            <li>
                                <a>欢迎您，{{ username }}</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="/user/login">登录</a>
                            </li>
                            {% endif %}
                            <li>
                                <a>|</a>
                            </li>
                            {% if isLogin %}
                            <li>
                                <a href="/user/logout">退出</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="/user/signup">注册</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-sm-offset-4 col-xs-offset-4">
                        <ul class="nav navbar-nav" id="nav-list">
                            <li>
                                <a href="/user">个人中心</a>
                            </li>
                            <li>
                                <a href="/cart/">我的购物车</a>
                            </li>
                            <li>
                                <a href="/user/order">我的订单</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="site-header">
        <div class="m-div container">
            <!-- 广告背景图 -->
            <div class="row">
                <figure class="col-sm-12">
                    <a href="https://www.kaola.com/" target="_blank">
                        <img src="/static/img/header/header.png" width="100%" alt="">
                    </a>
                </figure>
            </div>
            <!-- 商品搜索栏 -->
            <div class="row search-con">
                <!-- 网站logo -->
                <div class="col-xs-1 col-sm-1 col-sm-offset-1 col-xs-offset-1">
                    <a class="logo" href="/home">HUSTMall</a>
                </div>
                <!-- 搜索框 -->
                <div class="col-xs-8 col-sm-8 col-sm-offset-1 col-xs-offset-1 search">
                    <form action="/goods/list/index" method="get">
                        <input name="keyword" id="search-input" class="search-input" type="text" placeholder="请输入商品名称">
                        <button type="submit" class="search-btn">搜索</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %} {% block content %}{% endblock %}

    <footer>
        <div class="m-div">
            <p class="copyright"> Copyright @ 2017 HUSTMall All Rights Reserved </p>
        </div>
    </footer>

    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        function search() {
            var search = $('#search-input').val();
            console.log(search);
            $.ajax({
                url: '/goods/list/search',
                type: 'get',
                dataType: 'json',
                data: {
                    keyword: search
                },
                success: function(result) {
                    console.log(result.data);
                    window.location.href = '/goods/list/index';

                }
            })
        }
    </script>
    {% block script %}{% endblock %}
</body>

</html>