{% extends '../home/parent.html' %} {% block title %}商品详情{% endblock %} {% block style %}
<link rel="stylesheet" href="/static/css/crumb.css">
<link rel="stylesheet" href="/static/css/detailcon.css"> {% endblock %} {% block content %} {% include './crumb.html' %}
<div class="site-detail">
  <div class="m-div">
    <div class="intro-wrap clear">
      <div class="intro-img-wrap">
        <div class="main-img-con">
          <img src="{{ ProductInfo.ProductPic }}" alt="" class="main-img">
        </div>
        <ul class="intro-img-list">
          <li class="img-list-item">
            <img src="{{ ProductInfo.ProductPic }}" alt="" class="item-img">
          </li>
        </ul>
      </div>
      <div class="intro-info-wrap">
        <p class="p-name">{{ ProductInfo.ProductName }}</p>
        <p class="p-subtitle">{{ ProductInfo.ProductOutline }}</p>
        <div class="info-item p-price-con">
          <span class="label">价格：</span>
          <span class="p-price">￥{{ ProductInfo.ProductPrice }}</span>
        </div>
        <div class="info-item p-quantity-con">
          <span class="label">库存：</span>
          <span class="p-num">{{ ProductInfo.ProductStorage }}</span>
        </div>
        <div class="info-item">
          <span class="label">数量：</span>
          <input id="count" type="text" class="p-count" value="1" readonly="readonly">
          <span class="p-count-btn plus" data-opera-type="plus" onclick="plus()">+</span>
          <span class="p-count-btn minus" data-opera-type="minus" onclick="minus()">-</span>
        </div>
        <div class="info-item">
          <a id="cart-link" href="/cart/add/index/productid/{{ProductInfo.ProductId}}/count/1" class="btn cart-add">加入购物车</a>
        </div>
      </div>
    </div>
    <div class="detail-wrap">
      <div class="detail-tab-con">
        <ul class="tab-list">
          <li class="tab-item active">商品详情</li>
        </ul>
      </div>
      <div class="detail-con">
        <p>
          <img src="" alt="">
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script>
  function plus() {
    var count = parseInt($('#count').val());
    count = count + 1;
    $('#count').val(count);
    var url = $('#cart-link').attr('href');
    var urlArray = url.split('/');
    urlArray[7] = count;
    var newurl = urlArray.join('/');
    $('#cart-link').attr('href', newurl);
  }

  function minus() {
    var count = parseInt($('#count').val());
    if (count > 1) {
      count = count - 1;
      $('#count').val(count);
      var url = $('#cart-link').attr('href');
      var urlArray = url.split('/');
      urlArray[7] = count;
      var newurl = urlArray.join('/');
      $('#cart-link').attr('href', newurl);
    }
  }
</script>
{% endblock %}