{% extends '../home/parent.html' %} {% block title %}商品列表{% endblock %} {% block style %}
<link rel="stylesheet" href="/static/css/crumb.css">
<link rel="stylesheet" href="/static/css/listwrap.css"> {% endblock %} {% block content %} {% include './crumb.html' %}
<div class="site-list">
    <div class="m-div">
        <ul class="sorter-con">
            <li class="sorter-item active" data-type="default">
                <span>推荐排序</span>
            </li>
            <li class="sorter-item" data-type="price">
                <span>价格</span>
                <span class="glyphicon glyphicon-sort"></span>
            </li>
        </ul>
        <ul class="goods-list-con">
            {% for item in ProductItems %}
            <li class="goods-item">
                <div class="goods-img-con">
                    <a href="/goods/detail/index/productid/{{item.ProductId}}" class="goods-link" target="_blank">
                        <img class="goods-img" src="{{ item.ProductPic }}" alt="{{ item.ProductOutline }}">
                    </a>
                </div>
                <div class="goods-price-con">
                    <span class="goods-price">￥{{ item.ProductPrice }}</span>
                </div>
                <div class="goods-name-con">
                    <a href="/goods/detail/index/productid/{{item.ProductId}}" class="goods-name" target="_blank" title="{{ itme.ProductOutline }}">
                        {{ item.ProductName }}
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}